.mdc-dialog__surface {
    overflow: hidden;
    padding: 15px;
    border-radius: 8px !important;
}

.custom-back-drop-view-image {
    background-color: rgba(29, 41, 57, 0.8);
    backdrop-filter: blur(10px);

}

.custom-dialog-view-image {
    .mat-mdc-dialog-surface {
        background-color: transparent;
    }
}

.custom-dialog {
    .mat-mdc-dialog-container {
        max-width: 100%;

        .mat-mdc-dialog-inner-container {
            max-width: 100%;
        }

    }

    mat-dialog-content {
        overflow: hidden;
    }

    .mat-mdc-dialog-surface {
        max-width: 100%;
        padding: 0;


    }
}