<mat-dialog-title class="text-center">
  <span class="text-xl font-bold">{{ this.data.title }}</span>
  <button class="absolute right-3" [matDialogClose]="">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
      <path
        fill-rule="evenodd"
        d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
        clip-rule="evenodd" />
    </svg>
  </button>
</mat-dialog-title>
<mat-dialog-content class="pb-5 pt-3">
  <form class="sm:min-w-36 md:min-w-96 mx-auto" [formGroup]="busProvinceForm" (ngSubmit)="onSubmit()">
    <div class="mb-5">
      <label for="base-input" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Name</label>
      <input
        type="text"
        id="busType-name"
        formControlName="name"
        [ngClass]="{'!border-red-500' : busProvinceForm.controls['name'].errors?.['required'] && busProvinceForm.controls['name'].touched}"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500" />
      <p
        class="mt-1 text-xs text-red-500"
        *ngIf="busProvinceForm.controls['name'].errors?.['required'] && busProvinceForm.controls['name'].touched">
        Vui lòng điền vào trường này
      </p>
    </div>
    <div class="mb-5">
      <label for="base-input" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Bus Stations</label>
      <diV class="flex items-center justify-center gap-4">
        <div class="drag-drop-container">
          <!-- <div class="flex w-full pb-4">
            <label class="text-muted-foreground relative w-full">
              <div class="absolute left-2.5 top-2.5">
                <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'">
                </svg-icon>
              </div>
              <input
                class="text-muted-foreground w-full py-2 pl-8 pr-2 text-sm"
                placeholder="Search Bus Stations"
                type="text"
                (keyup)="searchBusProvinceStations($event)" />
            </label>
          </div> -->
          <div
            cdkDropList
            #list1="cdkDropList"
            [cdkDropListData]="filteredBusProvinceStations"
            [cdkDropListConnectedTo]="[list2]"
            class="drag-drop-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of filteredBusProvinceStations; track item) {
            <div
              class="drag-drop-box"
              (click)="toggleBusStation(item)"
              cdkDrag
              [ngClass]="{ 'drag-drop-box-selected': item.selected }">
              {{ item.name }}
            </div>
            }
          </div>
        </div>
        <div
          class="switch-location inline-block"
          [ngClass]="{ 'rotate-180': isRotated }"
          (click)="toggleRotationBusStation()">
          <svg-icon svgClass="w-4 h-4 cursor-pointer" src="./assets/icons/repeat.svg"></svg-icon>
        </div>
        <div class="drag-drop-container">
          <!-- <div class="flex w-full pb-4">
            <label class="text-muted-foreground relative w-full">
              <div class="absolute left-2.5 top-2.5">
                <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'">
                </svg-icon>
              </div>
              <input
                class="text-muted-foreground w-full py-2 pl-8 pr-2 text-sm"
                placeholder="Search Bus Stations"
                type="text"
                (keyup)="searchBusStations($event)" />
            </label>
          </div> -->
          <div
            cdkDropList
            #list2="cdkDropList"
            [cdkDropListData]="filteredBusStations"
            [cdkDropListConnectedTo]="[list1]"
            class="drag-drop-list"
            (cdkDropListDropped)="drop($event)">
            @for (busStation of filteredBusStations; track busStation) {
            <div
              class="drag-drop-box"
              (click)="toggleBusStation(busStation)"
              cdkDrag
              [ngClass]="{ 'drag-drop-box-selected': busStation.selected }">
              {{ busStation.name }}
            </div>
            }
          </div>
        </div>
      </diV>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="line-block space-x-4 text-center">
  <button
    [matDialogClose]="this.busProvince"
    (click)="onSubmit()"
    class="bg-primary text-primary-foreground flex-none rounded-md px-4 py-2.5 text-xs font-semibold">
    SAVE
  </button>
</mat-dialog-actions>
