<mat-dialog-content class="flex h-full w-full justify-center rounded-xl border border-white">
  @if(data){
  <img class="cursor-pointer object-contain p-2" [src]="data.file.link" />
  <div class="fixed right-[15px] top-[15px] flex">
    <button class="m-0 rounded-lg p-2 hover:bg-gray-700" (click)="downloadFile(data.file.link)">
      <svg-icon src="./assets/icons/download-outline-white.svg" [svgClass]="'h-8 w-8 cursor-pointer'"> </svg-icon>
    </button>
    <button class="m-0 rounded-lg p-2 hover:bg-gray-700" (click)="closeDialog()">
      <svg-icon src="./assets/icons/close-white.svg" [svgClass]="'h-8 w-8 cursor-pointer '"> </svg-icon>
    </button>
  </div>
  }
</mat-dialog-content>
