@if(loading$ === true) {
  <div id="page">
    <div id="container">
      <div class="flex items-center justify-center w-full">
        <img class="w-42" src="assets/images/logo.png" alt="" />
      </div>
      <div class="loading loading06">
        <span data-text="L">L</span>
        <span data-text="O">O</span>
        <span data-text="A">A</span>
        <span data-text="D">D</span>
        <span data-text="I">I</span>
        <span data-text="N">N</span>
        <span data-text="G">G</span>
        <span data-text=".">.</span>
        <span data-text=".">.</span>
        <span data-text=".">.</span>
      </div>
    </div>
  </div>
  }
  