td {
  padding: 0.75rem 1rem;
  font-size: 0.85rem;
}

th {
  font-weight: 500;
  padding: 0.625rem 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  vertical-align: middle;
  @apply border-b border-r;
}

.trigger-mask-content {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}


.bg-icon {
  background-image: url('../../../../../assets/icons/folder.svg');
  background-size: 25px;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
}


.box-img:hover .file-favorite {
  display: none;
}

.box-img .file-favorite {
  opacity: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.file.selected .box-img {
  border-color: blue;
}

.selected-file {
  display: none;
}

.cdk-drop-list-dragging .selected .box-img,
.cdk-drop-list-dragging .selected .file-input {
  display: block !important;
}

@for $i from 2 through 6 {
  .cdk-drag-preview.file-p-#{$i} {
    z-index: -$i !important;
    padding-right: #{$i * 5}px;
    padding-bottom: #{$i * 5}px;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  height: auto !important;
  width: max-content !important;
  max-width: 456px;
  flex-wrap: wrap;
  display: flex !important;
  padding: 5px;

  .file-input,
  .trigger-mask-content {
    display: none !important;
  }

  .box-img,
  .selected-file {
    display: flex !important;
    background-color: white;
    border: none !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    img {
      width: 100px !important;
    }
  }

  .box-img {
    z-index: 999;
  }

  .selected-file {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -20;

    img {
      width: 100px !important;
    }

    @for $i from 2 through 6 {
      &:nth-child(#{$i}) {
        position: absolute;
        top: #{$i * 5}px;
        left: #{$i * 5}px;
        z-index: -$i !important;
      }
    }
  }
}

.cdk-drop-list-dragging.file-folders {

  .cdk-drag:hover:not(.not-drop) {

    background-color: #c3e0ff;
    border: 1px solid #0054ad;
    border-style: dashed;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

    .bg-icon {
      background-image: url('../../../../../assets/icons/file-drop.svg');
    }

  }

  .not-drop {
    background: transparent;
  }

  .cdk-drag-placeholder {
    display: none;
  }

}

.cdk-drag-placeholder {
  opacity: 0;
  display: none;
}

.cdk-drag-animating {
  // transition: transform 3000000000000000000000ms cubic-bezier(0, 0, 0.2, 1);
  display: none !important;
}

.file.dragging {
  opacity: 0.5;
}