<div class="flex flex-wrap items-center justify-between gap-2 px-5 py-3">
  <!-- <h3 class="text-sm font-medium text-muted-foreground">Showing 08 of 100 {{title}}</h3> -->
  <div class="inline-block">
    <h3 class="text-foreground">{{ title }}</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <a href="" class="hover:text-primary">All {{ title }}:</a>
      <span class="text-foreground">{{ totalItem }}</span>
    </div>
  </div>
  <div class="flex flex-wrap gap-2">
    <div class="flex">
      <label class="relative text-muted-foreground">
        <div class="absolute left-2.5 top-2.5">
          <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
        </div>
        <input
          class="w-full py-2 pl-8 pr-2 text-sm text-muted-foreground"
          placeholder="Search {{ title }}"
          type="text"
          (keyup.enter)="onEnter($event)" />
      </label>
    </div>
    <div class="flex flex-wrap gap-2.5">
      <!-- <select class="w-28 p-2 text-muted-foreground text-sm">
        <option value="1">Active</option>
        <option value="2">Disabled</option>
        <option value="2">Pending</option>
      </select> -->
      <select class="!w-28 p-2 text-sm text-muted-foreground" (change)="changeSortBy($event)">
        <option value="desc">Latest</option>
        <option value="asc">Oldest</option>
      </select>
    </div>
  </div>
</div>
