<div class="mb-4 flex justify-end">
  <div class="inline-block space-x-4">
    <button
      class="bg-muted text-muted-foreground hover:text-foreground rounded-md px-4 py-2.5 text-xs font-semibold"
      (click)="backPage()">
      Back
    </button>
  </div>
</div>

<div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border px-6 py-2">
  <form [formGroup]="busTemplateDetailForm" nz-form *ngIf="busTemplateDetailForm">
    <div class="mb-5 w-full">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name" class="!flex !h-[36px] !items-center !justify-start"
          >Name</nz-form-label
        >
        <nz-form-control [nzErrorTip]="busTemplateDetailNameErrorTpl" class="!flex !h-[56px] flex-col">
          <nz-input-group
            [nzSuffix]="busTemplateDetailNameClearTpl"
            class="custom-nz-input-group !mt-0 !mb-0 !h-[36px]">
            <input type="text" nz-input formControlName="name" placeholder="Nhập Name" />
          </nz-input-group>
          <ng-template #busTemplateDetailNameClearTpl>
            <span
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              (click)="busTemplateDetailForm.controls['name'].patchValue('')"></span>
          </ng-template>
          <ng-template #busTemplateDetailNameErrorTpl let-control>
            <span class="mt-1 !text-xs text-red-500">
              @if (busTemplateDetailForm.controls['name'].errors?.['required']) { Vui lòng nhập trường này }
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div formArrayName="layouts" *ngIf="layouts">
      <nz-tabset
        [(nzSelectedIndex)]="selectedIndex"
        nzType="editable-card"
        (nzAdd)="addLayout()"
        [nzAddIcon]="nzAddIcon"
        (nzClose)="closeTab($event)">
        <nz-tab
          nzClosable
          *ngFor="let layout of layouts.controls; let i = index"
          [formGroupName]="i"
          [nzTitle]="layout.get('name')?.value">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="name" class="!flex !h-[36px] !items-center !justify-start !font-medium"
              >Layout Name</nz-form-label
            >
            <nz-form-control [nzErrorTip]="busTemplateLayoutNameErrorTpl" class="!flex !h-[56px] flex-col !pt-2">
              <nz-input-group [nzSuffix]="busTemplateLayoutNameClearTpl" class="!mt-0 !mb-0 !h-[36px]">
                <input type="text" nz-input formControlName="name" placeholder="Nhập Name" />
              </nz-input-group>
              <ng-template #busTemplateLayoutNameClearTpl>
                <span
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  (click)="layout.get('name')?.patchValue('')"></span>
              </ng-template>
              <ng-template #busTemplateLayoutNameErrorTpl let-control>
                <span class="mt-1 !text-xs text-red-500">
                  @if (layout.get('name')?.errors?.['required']) { Vui lòng nhập trường này }
                </span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <div class="flex flex-col pt-5">
            <div class="flex justify-between">
              <div>
                <label class="font-medium">Chọn Kiểu:</label>
              </div>
              <div class="flex gap-4">
                <button
                  class="!min-w-24 !flex !h-max !justify-center !rounded-lg !py-2 !px-3 hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
                  nz-button
                  nzType="default"
                  (click)="resetLayout()">
                  Reset
                </button>
              </div>
            </div>
            <div class="flex gap-4">
              <button
                class="!min-w-24 !flex !h-max !justify-center !rounded-lg !py-2 !px-3 hover:!bg-blue-200"
                [ngClass]="{ '!border !border-blue-500 !bg-blue-200': currentSeatTypeId == seatType._id }"
                nz-button
                nzType="default"
                *ngFor="let seatType of seatTypes"
                (click)="selectSeatType(seatType._id)">
                <svg-icon [src]="seatType.icon" [svgClass]="'h-8 w-8'"> </svg-icon>
              </button>
            </div>
          </div>
          <div class="matrix justify-center pt-10">
            <div *ngFor="let row of layout.get('seats')?.value; let i = index" class="row">
              <div
                *ngFor="let cell of row; let j = index"
                id="cell-{{ i }}-{{ j }}"
                class="relative flex items-center justify-center status-{{ cell.status }}">
                <div
                  [class.cell]="!cell.isSelected"
                  [class.selected]="cell.isSelected"
                  [class.editing]="cell.isEditing"
                  [class.has-error]="cell.hasError"
                  (mousedown)="onMouseDown(i, j, $event)"
                  (mouseup)="onMouseUp(i, j, $event)"
                  (mouseleave)="onMouseLeave($event)"
                  (contextmenu)="startEdit(i, j, $event)"
                  (click)="onClick(i, j, $event)">
                  <ng-container *ngIf="cell.typeId !== ''">
                    <svg-icon
                      [src]="cell.icon"
                      [svgClass]="'h-16 w-16'"
                      [ngClass]="{
                        'show-icon': cell.isSelected,
                      }"></svg-icon>
                    <div *ngIf="cell.allowAutoNameEdit && !cell.isEditing" class="cell-name">
                      {{ cell.name }}
                    </div>
                  </ng-container>
                </div>
                <div *ngIf="cell.allowAutoNameEdit && cell.isEditing" class="absolute">
                  <input
                    #cellInput
                    class="cell-input"
                    [class.has-error]="cell.hasError"
                    [(ngModel)]="cell.name"
                    (blur)="saveEdit(i, j)"
                    [ngModelOptions]="{ standalone: true }"
                    (keydown.enter)="saveEdit(i, j)" />
                </div>
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
      <ng-template #nzAddIcon>
        <div class="flex flex-row">
          <svg-icon src="assets/icons/create-new-layout.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        </div>
      </ng-template>
    </div>
    <div class="my-5 flex w-full justify-end">
      <button
        class="!min-w-24 !bg-primary !flex !h-max !justify-center !rounded-lg !py-2 !px-3 !text-white hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
        nz-button
        nzType="default"
        (click)="onSubmit()">
        SAVE
      </button>
    </div>
  </form>
</div>
